/* .test {
    background:gray;
    width:200px;
    height:200px;
    cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  } */

/*   
  body {
	cursor: url('some-cursor.ico'), home/guru/test-1/src/feedbackpage default;
} */
.test {
  cursor: URL(rock1.ico), pointer;
  /* background: -moz-linear-gradient(50) */
}

.test1 {
  cursor: URL(rock1.ico), pointer;
  /* background: -moz-linear-gradient(50) */
}

/* .image {
  position: absolute;
} */
